<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


    <bean id="daoImpl" class="zwl.learning.note.aop.primitive.DaoImpl"/>
    <bean id="timeHandler" class="zwl.learning.note.aop.aop.TimeHandler"/>

    <aop:config>
        <aop:pointcut id="addAllMethod" expression="execution(* zwl.learning.note.aop.primitive.Dao.*(..))"/>
        <aop:aspect id="time" ref="timeHandler">
            <aop:around method="printTime" pointcut-ref="addAllMethod"/>
            <!--<aop:before method="printTime" pointcut-ref="addAllMethod"/>-->
            <!--<aop:after method="printTime" pointcut-ref="addAllMethod"/>-->
        </aop:aspect>
    </aop:config>

</beans>